Debug/
Release/
.project
*.sublime-*
.ipynb_checkpoints/
.fuse*
*.vtk
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
.mtc0
*.nii
*.nii.gz
*.pyc
*.*.swp
*.dot
*.dot.png
*.npz
*.pklz
*.html
*.csv
*.sql
Publications/2013-TMI/ACWE.bib
*.pdf
papers/FINF-ITK
temp/
Data/Phantom*
provenance.*
Untitled*.ipynb
*-notrack.ipynb

